// import the basic style of the framework
@use 'base';

// add your custom style
@use 'custom-style';

.breadcrumbs {}

.breadcrumbs__item {
  display: inline-block; // flex fallback
  display: inline-flex;
  align-items: center;
}